{% extends "index.html" %}
{% block titulopagina %} Crear Post {% endblock %}
{% load static %}

{% block extracssjs %}

<link rel="stylesheet" href="{% static 'miapp/css/post.css'%}">

<link href="{% static 'plugins/css/bootstrap.min.css' %}" media="all" rel="stylesheet"/>
<link href="{% static 'plugins/css/ace.min.css' %}" rel="stylesheet">
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" rel="stylesheet">

<script src="{% static 'plugins/js/jquery.min.js' %}"></script>
<script src="{% static 'plugins/js/bootstrap.min.js' %}"></script>

<script src="{% static 'plugins/js/ace.js' %}"></script>
<script src="{% static 'plugins/js/emojis.min.js' %}"></script>
<script src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
<script src="{% static 'plugins/js/highlight.min.js' %}"></script>
<script src="{% static 'plugins/js/mode-markdown.js' %}"></script>
<script src="{% static 'plugins/js/spellcheck.js' %}"></script>
<script src="{% static 'plugins/js/theme-github.js' %}"></script>
<script src="{% static 'plugins/js/typo.js' %}"></script>
<script src="{% static 'plugins/js/snippets/markdown.js' %}"></script>
<script src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>

{% endblock %}

{% block content %}

<h1>Crear publicación</h1>
<!--
    enctype esta debido a que https://stackoverflow.com/questions/57405859/error-with-input-file-in-django-does-not-recognize-the-file
    quien cresta penso que no procesar la imagen de forma predeterminada es una buena idea
-->
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        {% load static %}


        {{ form.titulo }}
        {{ form.resumen }}
        <div>
            {{ form.parrafo }}
        </div>
        {{ form.imagen }}
        {{ form.tags }}

    </div>

    <button type="submit" name="publish">Publicar</button>
</form>

<div class="generador_tags">
    <input type="text" id="addtagtext" placeholder="Añadir tag...">

    <button id="addtagbutton">Añadir</button>

    <script>
        var btn = document.getElementById("addtagbutton");
        btn.addEventListener("click", addTag);

        function addTag()
        {
            var input = document.getElementById("addtagtext");
            if (input == null || input.value.length == 0)
                return;

            // copiado de https://www.freecodecamp.org/news/how-to-send-http-requests-using-javascript/
            // AAAAAAAAAAA PREDICATES AAAAAAAAAAAA
            // esto le hace una request al server, el server dice si el tag esta aok (202) o ya existe (200)
            // en el caso de que esta ok, recibe un contenido y id lo cual sirve para añadir de forma programatica el tag a la lista esa


            fetch("/crearpost?tag=" + input.value)
                .then((response) => {
                    // If the response is not 2xx, throw an error
                    if (!response.ok) {
                      throw new Error("Network response was not ok");
                    }

                    // If the response is 200 OK, return the response in JSON format.
                    return response.json();
                })
                .then((data) => {
                    if (data.status == 202)
                    {
                        input.value = "";

                        var tags = document.getElementById('id_tags');
                        var n = tags.children.length;
                        const div = document.createElement('div');

                        div.innerHTML = `
                            <label for=${"id_tags_" + n}>
                                <input type="checkbox" name="tags" value=${data.id} id=${"id_tags_" + n}/> ${data.contenido}
                            </label>
                        `;

                        tags.appendChild(div);

                    }
                })
                .catch((error) => console.error("Fetch error:", error)); // In case of an error, it will be captured and logged.

        }
    </script>
</div>

{% endblock %}

