<!DOCTYPE html>
{% extends "index.html" %}
{% block titulopagina %} Crear Post {% endblock %}
{% load static %}

{% block extracss %}

<link rel="stylesheet" href="{% static 'miapp/css/post.css'%}">
<link rel="stylesheet" href="{% static 'miapp/css/style1.css'%}">

<link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'plugins/css/ace.min.css' %}" rel="stylesheet">
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" rel="stylesheet">

<script src="{% static 'plugins/js/jquery.min.js' %}"></script>
<script src="{% static 'plugins/js/bootstrap.min.js' %}"></script>

<script src="{% static 'plugins/js/ace.js' %}"></script>
<script src="{% static 'plugins/js/emojis.min.js' %}"></script>
<script src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
<script src="{% static 'plugins/js/highlight.min.js' %}"></script>
<script src="{% static 'plugins/js/mode-markdown.js' %}"></script>
<script src="{% static 'plugins/js/spellcheck.js' %}"></script>
<script src="{% static 'plugins/js/theme-github.js' %}"></script>
<script src="{% static 'plugins/js/typo.js' %}"></script>
<script src="{% static 'plugins/js/snippets/markdown.js' %}"></script>
<script src="{% static 'martor/js/martor.bootstrap.js' %}"></script>

{% endblock %}

{% block content %}

<h1>Crear post</h1>
<form class="form" method="post">


    {% csrf_token %}
    <div class="form-group">
        {{ form }}
    </div>

    <button type="submit">Crea la cosa</button>
</form>


{% endblock %}

