<!DOCTYPE html>
{% extends "index.html" %}
{% block titulopagina %} Crear Post {% endblock %}
{% load static %}

{% block cssjs %}

<link rel="stylesheet" href="{% static 'miapp/css/style1.css'%}">

<link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'plugins/css/ace.min.css' %}" rel="stylesheet">
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" rel="stylesheet">

<script src="{% static 'plugins/js/jquery.min.js' %}"></script>
<script src="{% static 'plugins/js/bootstrap.min.js' %}"></script>

<script src="{% static 'plugins/js/ace.js' %}"></script>
<script src="{% static 'plugins/js/emojis.min.js' %}"></script>
<script src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
<script src="{% static 'plugins/js/highlight.min.js' %}"></script>
<script src="{% static 'plugins/js/mode-markdown.js' %}"></script>
<script src="{% static 'plugins/js/spellcheck.js' %}"></script>
<script src="{% static 'plugins/js/theme-github.js' %}"></script>
<script src="{% static 'plugins/js/typo.js' %}"></script>
<script src="{% static 'plugins/js/snippets/markdown.js' %}"></script>
<script src="{% static 'martor/js/martor.bootstrap.js' %}"></script>

<link rel="stylesheet" href="{% static 'miapp/css/post.css'%}">
{% endblock %}

{% block content %}

<h1>Crear publicación</h1>
<!--
    enctype esta debido a que https://stackoverflow.com/questions/57405859/error-with-input-file-in-django-does-not-recognize-the-file
    quien cresta penso que no procesar la imagen de forma predeterminada es una buena idea
-->
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        {{ form }}

    </div>

    <button type="submit" name="publish">Publicar</button>
</form>
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="addtag" placeholder="Añadir tag...">

    <button type="submit" name="addtag">Añadir</button>
</form>

{% endblock %}

