{% extends "index.html" %}
 
{% block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'miapp/css/eliminarcomentario.css'%}">
<div class="eliminar">
    <h1>
        Confirmar Acción
    </h1>
    <form method="POST">
        {% csrf_token %}
        <h2>
            ¿Estas segur@ de eliminar: {{instance.contenido}}?
        </h2>
        <button type="submit">Confirmar</button>
        <button>
            <a href="{{instance.publicacion.get_absolute_url}}">Cancelar</a>
        </button>

    </form>
</div>
{%endblock%}