input{
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    padding: 10px 15px;
    background-color: #c66aab;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 37.5px;
}

.resultado{
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;
    padding-top:3px;
    width: 80%;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color:#68417f ;
}

.resultado h2 a{
    display: inline;
    background-color: #f2cfda ;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;
    padding-top:3px;
    width: 80%;
    border-radius: 40px;
    padding-bottom: 5px;
    color: #68417f;
    text-decoration: underline;
    height: 15px;
}

.resultado p{
    margin-bottom: auto;
    margin-left: 0%;
}