footer {
    background-color: #f2cfda;
    color: #68417f;
    text-align: left;
    padding: 12px 20px;
    width: 100%;
    position: relative; /* antes era fixed */
}

footer a {
    color: #68417f;
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
}