.datos a {
    color: #ffffff;
}

.datos:hover a {
    color: #2bfbdf;
}

.resultado-interno {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.resultado-interno button
{
    margin: 5px;
}

.resultado {
    display: grid;
    background-color: #68417f;
    margin: 5px auto;
    width: 70%;
    border-radius: 5px;
}

.resultado-escondido {
    display: none;
    margin: 0px auto;
    padding: 0px;
}

