.publicaciones {
    text-align: center;
    margin: 20px auto;
    width: 80%;
    overflow: auto !important;
}

.publicacion {
    display: table-cell;
    background-color: #68417f;
    padding: 20px;
    margin: 15px auto;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

button{
    padding: 10px 15px;
    background-color: #c66aab;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 37.5px;
}

input{
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}