/* Fondo general */
body {
    background: linear-gradient(to bottom right, #c66aab, #c66aab);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

/* Contenedor del formulario */
form {
    background-color: #68417f;
    padding: 30px;
    margin: 25px auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

nav.post-header h1 {
    background-color: #f2cfda;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius:20px;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    color: #68417f;
    padding: 10px;
    margin-top: 10px;
}

.post-content.martor-preview {
    display: flex;
    color: #000000;
}

.post-content.martor-preview p {
    font-size: 1em;
    background-color: #f2cfda;
    padding: 30px;
    max-width: 1000px;
    margin:  auto;
    width: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1em;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #f2cfda;
    border: none;
    border-radius: 10px;
    color: #68417f;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #f2cfda;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
    font: 1em sans-serif;
}

 body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to right, #c66aab, #c66aab);
    font-family: 'Segoe UI', sans-serif;
    color: white;
}

.post-content img  { /* .post-content para no afectar la imagen de la navbar */
    width: 400px;  /* tamaño moderado */
    height: auto;
    border-radius: 10px;
    display: block;
    max-height: 100%;
    margin: 10px auto;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.comentario a{
    background-color: #f2cfda;
    text-decoration: none;
    color: #68417f;
    padding: 5px;
    border-radius: 5px;
}

.comentario{
    background-color: #68417f;
    padding: 15px;
    margin: 15px auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}


nav.post-header{
    display: flex;
}

nav.post-header h4 {
    background-color: #f2cfda;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius:20px;
    height: 80%;
    margin:auto;
    color: #68417f;
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
    text-align: center;
}

#id_tags div {
    display: inline-block;
    margin: 10px
}

button {
    width: 100%;
    margin: 10px;
    padding: 12px;
    background-color: #f2cfda;
    border: none;
    border-radius: 10px;
    color: #68417f;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generador_tags {
    background-color: #68417f;
    padding: 30px;
    margin: 25px auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    text-align: center;
}