.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #f2cfda, #f2cfda);
    padding: 10px 20px;
    color: #68417f;
}

.logo img {
    border-radius: 50%;
}

.nav-links a {
    color: #68417f;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.2s;
}

.nav-links a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to right, #c66aab, #c66aab);
    font-family: 'Segoe UI', sans-serif;
    color: black;
}

form {
    background-color: #68417f;
    padding: 30px;
    margin: 25px auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.publicaciones{
    text-align: center;
    margin: 20px auto;
    width: 80%;
}

.publicacion {
    display: table-cell;
    background-color: #68417f;
    padding: 20px;
    margin: 15px auto;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}