.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #f2cfda, #f2cfda);
    padding: 10px 20px;
    color: #68417f;
}

.logo img {
    border-radius: 50%;
    width: 50px; /* ← tamaño fijo solo para el logo */
    height: 50px;
    object-fit: cover;
}

.nav-links a {
    color: #68417f;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: transform 0.2s, text-decoration 0.2s;
}

.nav-links a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to right, #c66aab, #c66aab);
    font-family: 'Segoe UI', sans-serif;
    color: white;
}

form {
    background-color: #68417f;
    padding: 30px;
    margin: 25px auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    text-align: center;
}

.publicacion img {
    width: 250px;  /* tamaño moderado */
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.publicacion {
    background-color: #68417f;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}