{% extends "index.html" %}
{% block titulopagina %}Safe and Sound{% endblock %}{### Titulo de la pagina  ##}

{%block content%}
<form method="get" action="{% url 'busqueda' %}">
    <input type="search" name="q" placeholder="Buscar publicaciones...">
    <button type="submit">Buscar</button>
</form>

<div class="publicaciones">
    {% for pub in publicaciones %}
    <div class="publicacion">
        <h2>{{pub.titulo}}</h2>
        <p><strong>Autor:</strong> {{pub.nombre}}</p>
        {% if pub.imagen %}
        <img src='{{ pub.imagen.url }}' alt="Imagen de {{pub.titulo}}" width="200">

        {% endif %}
        <p><em>{{pub.fecha_creacion}}</em></p>
    </div>
    {% empty %}
    <p>No hay publicaciones disponibles.</p>
    {% endfor %}
</div>
{%endblock %}

{%block footer%}
{% load static %}
<link rel="stylesheet" href="{% static 'miapp/css/footerhome.css' %}">
<footer>
    <p><strong>
        &copy; 2025 Safe and Sound. Todos los derechos reservados. Contacto: safeandsound.contacto@gmail.com
    </strong></p>
    <a href="https://forms.gle/MtMX5k4bFdfaLLPN6">Conviertete en un creador</a><br><br>
</footer>
{%endblock%}