{% block arriba %}
<html>
<head>
    <!--
    uso de esta cosa rara:
    si quieres añadir un .css aparte pero no sobreescribir los originales, usar block extracssjs
    si quieres sobreescribir el css predeterminado, usar block cssjs

    tener en cuenta que el orden de implementacion de css si importa!! por lo tanto lo que modifica extracss sobreescribira style1.css
    -->

    {% block cssjs %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'miapp/css/style1.css' %}">
    {% block extracssjs %}
    {% endblock %}
    {% endblock %}
</head>

<header class="navbar">
    <div class="logo">
        <img src="https://github.com/RLeventisB/proj-init/blob/main/media/logo.png?raw=true" alt="Logo">
    </div>
    <nav class="nav-links">
        <a href="{% url 'home' %}" class="button">Ir a Home</a>
        {% if request.session.usuario_pk %}
        <a href="{% url 'perfil' %}" class="button">Ir a perfil</a>
        <a href="{% url 'logout' %}">Cerrar Sesión</a>
        {% else %}
        <a href="{% url 'login' %}" class="button">Log in</a>
        <a href="{% url 'signup'%}" class="button">Sign up</a>
        {% endif %}
    </nav>
</header>

{% endblock %}
<body>{% block content %}{% endblock %}</body>
<footer>{% block footer %}{% endblock %}</footer>
</html>
