

{% extends "index.html" %}
{% block titulopagina %}Home{% endblock %}{### Titulo de la pagina  ##}

{%block content%}{#no a sido probado :v#}
    <div class = "publicaciones">
        {% for pub in publicaciones%}
            <div class="publicacion">
                <h2{{pub.titulo}}</h2>
                <p><strong>Autor:</strong> {{pub.nombre}}</p>
                <p>{{pub.resumen}}</p>
                {% if pub.imagen %}
                    <img src=" pub.imagen.url"{#xd#} alt="Imagen de {{pub.titulo}}" width="200">
                {% endif %}
                <p><em>{{pub.fecha_creacion}}</em></p>
                <p><strong>Tags:</strong>
                    {% for tag in pub.tags|slice:":3"%}
                    <span class="tag">{{tag}}</span>
                    {% endfor %}
                </p>
            </div>
        {% empty %}
            <p>No hay publicaciones disponibles.</p>
        {% endfor %}
        </div>
{%endblock %}

{%block footer%}
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'miapp/css/footerhome.css' %}">  
    <footer>
        <p><strong>&copy; 2025 Safe and Sound. Todos los derechos reservados Contacto:oye, no nada.</strong></p>
        <a href="https://forms.gle/MtMX5k4bFdfaLLPN6">Conviertete en un creador</a>
    </footer>
{%endblock%}