{% block arriba %}
    <html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'miapp/css/style.css' %}">

    </head>
    <header class="navbar">
        <div class="logo"> 
            <img src="https://pbs.twimg.com/profile_images/1446527145774391359/70TP4t7C_400x400.jpg" alt="Logo" width="50">
         </div>  
        <nav class="nav-links">
         <a href="{% url "home" %}" class="button">Ir a Home</a>
         <a href="{% url "login" %}" class="button">Log in</a>
         <a href="{% url "perfil" %}" class="button">Ir a perfil</a>
        </nav>
    </div>
    </header>
  

{% endblock %}
<title>{% block titulopagina %}Mi Sitio Web{% endblock %}</title>


{% block content %}
    <h1>Bienvenido a Mi Sitio Web</h1>
    <p>Este es un sitio web de ejemplo utilizando Django.</p>
{% endblock %}


{%block 3noticias%}
{% endblock %}

{% block footer%}
{% endblock %}
    